:root {
    --red: #CD1E15;
    --pink: #ED7D7D;
    --black: #0D0C0C;
    --yellow: #EDBA7D;
}

#landing-page>*:not(.background-image)>* {
    z-index: 1;
}

#landing-page {
    display: flex;
    flex-direction: column;
    height: 300vh;
}

#landing-page h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 140px;
}

#landing-page h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 80px;
}

#landing-page h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 58px;
}

#landing-page h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

#landing-page h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

#landing-page .section-1 {
    background-color: var(--pink);
    flex: 1;
}

#landing-page .section-2 {
    background-color: var(--black);
    flex: 1;
}

#landing-page .section-3 {
    background-color: var(--yellow);
    flex: 1;
}

#landing-page .section-1,
#landing-page .section-2,
#landing-page .section-3 {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    object-fit: cover;
    z-index: 0;
}

#landing-page .section-1 h1 {
    font-weight: bold;
    color: var(--red);
    -webkit-text-stroke: 8px #000;
    padding-top: 5%;
}

#landing-page .button {
    margin-top: 0.5rem;
    padding: 15px 60px;
    background-color: var(--red);
    color: #fff;
    border: 3px solid var(--black);
    transform: rotate(5deg);
}

#landing-page .text-section>* {
    padding-bottom: 2rem;
}

#landing-page .button-section>* {
    margin-right: 1rem;
    margin-left: 1rem;
}

/*  
section 2
*/

#landing-page .section-2 {
    position: relative;
    padding: 5rem;
    box-sizing: border-box;
}

#landing-page .section-2 .header {
    font-weight: bold;
    color: var(--red);
    -webkit-text-stroke: 3px #fff;
}

#landing-page .section-2 .content {
    color: #fff;
}

#landing-page .section-2 h5 {
    text-align: start;
}

#landing-page .section-2 .token-supply {
    text-align: start;
}

#landing-page .section-2 .token-supply>* {
    margin-bottom: 0.5em;
}

/* 
section 3
 */

#landing-page .section-3 {

}

#landing-page .section-3 .button-section {
    margin-top: 1rem;
    height: 7rem;
    position: relative;
}

#landing-page .section-3 .text-section h2 {
    -webkit-text-stroke: 4px #000;
    letter-spacing: 0.1em;
}

#landing-page .section-3 .button-section > .telegram {
    position: absolute;
    height: 7rem;
    right: 5rem;
}

#landing-page .section-3 .button-section > .x {
    position: absolute;
    height: 7rem;
    right: -5rem;
    top: 3rem;
}

#landing-page .section-3 .button-section > .arrow {
    right: -20rem;
    position: absolute;
    bottom: 1rem;
}

#landing-page .section-3 p {
    font-size: 30px;
}