.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @font-face {
  font-family: 'CustomFont';
  src: url('./asset/CCMaladroit_W00_Regular.ttf') format('truetype');
  font-weight: normal;
} */

@font-face {
  font-family: 'ABeeZee';
  src: url('./asset/ABeeZee-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'CCMaladroit';
  src: url('./asset/CCMaladroit_W00_Bold.ttf') format('truetype');
  font-weight: bold;
}


body {
  font-family: 'CCMaladroit', sans-serif;
}

p {
  font-family: "ABeeZee", sans-serif;
}

.bold-text {
  font-weight: bold;
}